<div class="ecart-header">
  <div class="ecart-logo">
    <!--<img src="images/logo.jpg">-->
    ecart
  </div>
  <div class="nav-header">
    <!--Top Menu-->
    <top-menu></top-menu>
    <div class="bottom-bar">
      <!--Main Menu-->
      <main-menu></main-menu>
      <!--<div class="search-bar">
        <input type="text" class="search-box" placeholder="Search">
        <button class="search-btn">
          <i class="fa fa fa-search" aria-hidden="true"></i>
        </button>
      </div>-->
    </div>
  </div>
</div>