.product-container{
  margin: 20px 60px;
  padding: 0px 20vh;
}
/*button{
  padding: 5px 10px;
  margin: 0px 5px;
}*/
.featured-products{
  background-color: #28282B;
  padding: 20px 10px;
  display: flex;
}
.featured-product-heading{
  width: 320px;
  margin: 10px 10px;
  padding: 20px 30px;
  color: #fff;
}
.title, .description, .call-to-action{
  margin: 10px 0px;
}
.call-to-action{
  background-color: #28282B;
  color: #fff;
  width: 100%;
  padding: 10px 0px;
}
